@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.footer__bottom, .footer__top, .footer, .order__form, .order, .reviews__box__list__item3, .reviews__box__list__item2, .reviews__box__list__item1__author__about, .reviews__box__list__item1__author, .reviews__box__list__item1, .reviews__box__list, .reviews__box, .reviews, .benefits__box__shipping, .benefits__box__paint, .benefits__box__quality, .benefits__box, .benefits, .action__container, .header__menu__language, .header__menu__list, .header__menu, .header {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}

.header {
  width: 1440px;
  height: 90px;
  background-color: #012d63;
  margin: 0 auto;
}
.header__nike {
  margin: 16px 152px 16px 168px;
}
.header__menu {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.13px;
}
.header__menu a {
  color: #c7c7c7;
  text-decoration: none;
}
.header__menu a:hover {
  font-weight: 400;
  color: #ffffff;
}
.header__menu__list {
  width: 710px;
  justify-content: space-between;
}
.header__menu__language {
  width: 81px;
  justify-content: space-between;
  margin-left: 73px;
}

.action {
  width: 1440px;
  height: 858px;
  background-image: url("../img/colorawe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.action__container {
  margin-left: 156px;
  color: #ffffff;
  flex-direction: column;
}
.action__container__nike {
  position: relative;
  margin-left: 14px;
}
.action__container__nike__main {
  width: 160px;
  height: 120px;
  margin-top: 94px;
}
.action__container__nike__cr {
  position: absolute;
  bottom: -20px;
  left: 25px;
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 400;
}
.action__container__title {
  font-size: 144px;
  font-weight: 400;
  margin-top: 27px;
  font-family: "Playfair Display";
}
.action__container__subtitle {
  margin-left: 8px;
  font-family: "Playfair Display";
  font-size: 72px;
  font-weight: 400;
}
.action__container__text {
  margin-left: 8px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  width: 508px;
  height: 84px;
  top: 573px;
  margin-bottom: 41px;
}
.action__container__button {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background-color: #8e32c6;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}

.benefits {
  background-image: url("../img/benefitsbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 606px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.benefits__box {
  width: 1110px;
  height: 396px;
  border: 5px solid #8e32c6;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
}
.benefits__box__quality {
  flex-direction: column;
  align-items: center;
}
.benefits__box__quality__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  color: #ffffff;
  width: 159px;
  height: 102px;
}
.benefits__box__paint {
  width: 430px;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.benefits__box__paint__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  color: #ffffff;
  width: 159px;
  height: 102px;
  margin-top: 4px;
  text-align: center;
}
.benefits__box__shipping {
  flex-direction: column;
  align-items: center;
}
.benefits__box__shipping__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  color: #ffffff;
  width: 159px;
  height: 102px;
  margin-bottom: 4px;
  text-align: center;
}

.reviews {
  width: 1440px;
  height: 520px;
  background-image: url("../img/reviewsbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border: 2px solid #ffffff;
  flex-direction: column;
}
.reviews__title {
  width: 175px;
  height: 65px;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
  align-self: center;
}
.reviews__box {
  width: 1440px;
  height: 407px;
  background-image: url("../img/leaves.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  background-size: 226px 380px;
}
.reviews__box__list {
  width: 951px;
  height: 292px;
  margin: 0 auto;
  justify-content: space-between;
  color: #ffffff;
}
.reviews__box__list__item1 {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(136.55deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}
.reviews__box__list__item1__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  width: 228px;
  height: 112px;
  margin-top: 49px;
  margin-bottom: 8px;
}
.reviews__box__list__item1__date {
  width: 36px;
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #d8d8d8;
  margin-bottom: 47px;
}
.reviews__box__list__item1__author__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.reviews__box__list__item1__author__about {
  flex-direction: column;
  margin-bottom: 1px;
}
.reviews__box__list__item1__author__date {
  width: 99px;
  height: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #d8d8d8;
}
.reviews__box__list__item1__img {
  width: 31px;
  height: 31px;
  margin-right: 5px;
}
.reviews__box__list__item2 {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(136.55deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}
.reviews__box__list__item3 {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  flex-direction: column;
  border-radius: 15px;
  padding-left: 13px;
  background: linear-gradient(142.67deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.order {
  width: 1440px;
  height: 529px;
  position: relative;
  background-image: url("../img/orderbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  flex-direction: column;
}
.order__title {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  color: #ffffff;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 33px;
  width: 130px;
  height: 64px;
}
.order__form {
  flex-direction: column;
  align-items: center;
}
.order__form__input {
  width: 690px;
  height: 60px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  padding-left: 25px;
  border: none;
  margin-bottom: 19px;
}
.order__form__button {
  width: 248px;
  height: 68px;
  border-radius: 16px;
  background-color: #8e32c6;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #ffffff;
  border: none;
}
.order__confirm {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 124px;
  left: 808px;
  border-style: none;
  border-radius: 50px;
  color: #9b9b9b;
  background-color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
}

.footer {
  width: 1440px;
  height: 292px;
  background-color: #021635;
  margin: 0 auto;
  flex-direction: column;
}
.footer__top {
  width: 1110px;
  height: 169px;
  margin: 0 auto;
  border-bottom: 1px solid #9b9b9b;
}
.footer__top p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}
.footer__top a {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  float: right;
}
.footer__top__left {
  width: 555px;
  margin-top: 45px;
}
.footer__top__right {
  width: 555px;
  margin-top: 45px;
}
.footer__bottom {
  width: 1110px;
  height: 123px;
  margin: 0 auto;
  background-image: url("../img/nike.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 1015px -1px;
  background-size: 108px 81px;
}
.footer__bottom__left__rights {
  margin-top: 24px;
  margin-bottom: 7px;
}
.footer__bottom__left p {
  height: 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #ffffff;
  width: 1041px;
}
.footer__bottom__right p {
  width: 60px;
  height: 86px;
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 24px;
  font-weight: 400;
  line-height: 31.8px;
  margin-top: 60px;
}